<div class="container-classes">
  <h1>Civilian</h1>
  <form action="/admin/civilians/{{_id}}" method="POST" id="editCivilian">
    <div class="main-classes">
      <div class="list">
        <div class="entry-form">
          <label for="{{_id}}"></label>
          <input type="checkbox" id="{{_id}}" name="_id" value="{{_id}}"> 
        </div>
        <div class="entry-form">
          <label for="name"><h2>Name</h2></label>
          <input class="input" type="text" name="name" value="{{name}}">
        </div>
        <div class="entry-form">
          <label for="genre"><h2>Genre</h2></label>
          <input class="input" type="text" name="genre" value="{{genre}}" placeholder="male, female">
        </div>
        <div class="entry-form">
          <label for="solvency"><h2>Solvency</h2></label>
          <input class="input" type="text" name="solvency" value="{{solvency}}" placeholder="insolvent, solvent, wealthy">
        </div>
        <div class="entry-form">
          <label for="nature"><h2>Nature</h2></label>
          <input class="input" type="text" name="nature" value="{{nature}}" placeholder="peaceful, wroth">
        </div>
        <div class="entry-form">
          <button class="btn btn-primary">Save</button>
        </div>
      </div>
    </div>
  </form>
  <h1><!-- Title --></h1>
  <div class="menu">
    <div class="card dojo">
      <a href="/admin/civilians">
        <img class="card-image" src="/images/crowd.jpg" alt="outside dojo">
        <h2>Back to Civilians</h2>
      </a>
    </div>
    <div class="card valley">
      <div class="info">
      </div>
      <a href="/admin">
        <img class="card-image" src="/images/admin.jpg" alt="admin">
        <h2>Back to Admin</h2>
      </a>
    </div>
  </div>
</div>