<div class="container-classes">
  <div class="header">
    <a href="/log-out"><h2>Log-out</h2></a>
  </div>
  <div class="main-classes">
    <h1 class="sensei-h1">Sensei</h1>
    <div class="list">
      {{#each senseis}}
      <div class="entry">
        <img class="sensei-img" src="{{imageUrl}}" alt="{{name}}">
        <h1>{{name}}</h1>
        <img class="sensei-img" src="/images/{{level}}.jpg" alt="{{level}}">
      </div>
      {{/each}}
    </div>
    <h1>Class</h1>
    <div class="list">
      {{#each karatekas}}
      <div class="entry">
        <img src="{{imageUrl}}" alt="{{name}}">
        <h2>{{name}}</h2>
        <img src="/images/{{level}}.jpg" alt="{{level}}">
      </div>
      {{/each}}
    </div>
  </div>
  <h1>Training</h1>
  <div class="main-menu">
    <div class="card">
      <div class="info">
      </div>
      <img class="card-image" src="/images/train.jpg" alt="outside dojo">
      <form action="/classes/train" method="POST">
        <button class="btn btn-primary">Train</button>
      </form>
    </div>
    <div class="card">
      <div class="info">
      </div>
      <img class="card-image" src="/images/battle.jpg" alt="outside dojo">
      <form action="/classes/battle" method="GET">
        <button class="btn btn-primary">Battle</button>
      </form>
    </div>
    <div class="card">
      <div class="info">
      </div>
      <img class="card-image" src="/images/tourney.jpg" alt="outside dojo">
      <form action="/classes/tourney" method="GET">
        <button class="btn btn-primary">Tourney</button>
      </form>
    </div>
  </div>
  <div class="menu">
    <div class="card dojo">
      <a href="/main">
        <img class="card-image" src="/images/outside-dojo.jpg" alt="outside dojo">
        <h2>Back to Dojo</h2>
      </a>
    </div>
      <div class="card fight">
      <a href="/fight">
        <img class="card-image" src="/images/look-for-fight.jpg" alt="outside dojo">
        <h2>Look for a fight</h2>
      </a>
    </div>
  </div>
</div>
